@media (min-width: 800px) {
    .hambur,
    .close-nav {
        display: none;
    }

    .logotype {
        padding: 1.4rem 0rem;
        width: 10em;
        height: 10em;
    }

    .logo {
        width: 100%;
    }

    .message {
        padding: 3rem 1.5rem 2rem 0rem;
        height: 30rem;
        width: 50%;
    }

    .initial-text,
    .subtitle {
        text-align: right;
    }

    .resumeDownload {
        left: 2rem;
        justify-content: flex-end;
    }

    .space-titles {
        justify-content: space-between;
    }

    .titles-nav {
        font-size: 3.5rem;
    }

    .box-p {
        width: 40%;
    }

    .footer-items {
        flex-direction: row;
        justify-content: space-between;
    }

    .email-footer {
        width: 50%;
    }
}
