@media (max-width: 800px) {



    header {
        display: none;
    }

    .start-image {
        display: none;
    }

    .logotype {
        display: none;
    }

    .logo {
        width: 50%;
    }




    /* FRASE INICIO */
    .message {
        padding: 0;
        height: 28rem;
        width: 100%;
    }

    .initial-text {
        text-align: center;
    }

    .content {
        justify-content: center;
    }

    .name {
        font-size: 5rem;
    }

    .start-subtitle {
        position: relative;
        top: 8rem;

    }

    .subtitle {
        text-align: center;
        /* padding: 0 4rem; */
    }

    .resumeDownload {
        justify-content: center;
    }

    .space-titles {
        justify-content: center;
    }

    .titles-nav {

        font-size: 1.7rem;
    }

    .github-cinta {
        display: none;
    }

    .box-p {
        width: 100%;
    }

    .footer-items {
        flex-direction: column-reverse;
        align-items: center;
    }

    .email-footer {
        width: 100%;
    }

    .redes-footer {
        margin: 3rem 0;
    }

    .copyright {
        text-align: center;
    }

    .img-project img{
        position: relative;
        top: 2rem;
        width: 99%;
        height: 80%;
    }

}