@media (max-width: 800px) {
    header,
    .start-image,
    .logotype,
    .liNavMenu,
    .github-cinta {
        display: none;
    }

    .logo {
        width: 50%;
    }

    .message {
        padding: 0;
        height: 28rem;
        width: 100%;
    }

    .initial-text,
    .subtitle {
        text-align: center;
    }

    .content,
    .resumeDownload,
    .space-titles {
        justify-content: center;
    }

    .name {
        font-size: 5rem;
    }

    .start-subtitle {
        position: relative;
        top: 8rem;
    }

    .titles-nav {
        font-size: 1.7rem;
    }

    .box-p,
    .email-footer {
        width: 100%;
    }

    .footer-items {
        flex-direction: column-reverse;
        align-items: center;
    }

    .redes-footer {
        margin: 3rem 0;
    }

    .copyright {
        text-align: center;
    }

    .img-project img {
        position: relative;
        top: 2rem;
        width: 99%;
        height: 80%;
    }
}